ul li a {
  margin: 0 2rem;
}

.material-icons {
  font-size: 48px;
}
/* Landing Styling */

.landing {
  background: no-repeat center/cover url("../src//img/landing.jpg");
  height: 100vh;
  position: relative;
  color: white;
  background-color: black;
}

.log-reg {
  background: no-repeat center/cover url("../src/img/register.jpg");
  height: 100%;
}

.log-log {
  background: no-repeat center/cover url("../src/img/light.png");
  height: 100%;
}
.log-profile {
  background: no-repeat center/cover url("../src/img/kenpachi.jpg");
  height: 100%;
}

.landing .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* i {
  color: coral;
  font-size: 2rem;
} */

body {
  background: black;
  color: white;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.landing * {
  z-index: 9;
}

ul li a:hover {
  background: coral;
}
nav {
  border-bottom: 2px solid coral;
  opacity: 0.8;
}

.landing-btn i {
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

/* Forms */
/* label focus color */

.input-field .prefix.active {
  color: coral;
}
/* change color of label when it is selected to coral */
.input-field input:focus + label {
  color: coral !important;
}

.input-field [type="text"] {
  color: white;
}
.input-field [type="email"] {
  color: white;
}
.input-field [type="password"] {
  color: white;
}
.text-area [type="text"] {
  color: white;
}

.materialize-textarea {
  color: white;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px coral !important;
  box-shadow: 0 1px 0 0 coral !important;
}
/* Utility classes */

.btn-dark {
  background: transparent;
  border: 1px solid white;
}

.btn-dark:hover {
  opacity: 0.8;
  background: transparent;
}

.text-primary {
  color: coral;
}

.text-secondary {
  color: red;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin-bottom: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}

.material-icons {
  color: coral;
}

.lead {
  font-size: 1.5rem;
}

/* side navigation custom style */
.sidenav li > a {
  color: white;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px coral solid;
}

.sidenav {
  border: 1px coral solid;
}

/* Media Querries */
@media (max-width: 1200px) {
  .small {
    display: none;
  }

  .landing .content h1 {
    padding: 0 3rem;
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .landing .content h1 {
    font-size: 2rem;
  }
}
